app:
  port: 8080
  env : development
database:
  connection: postgres
  host: localhost
  name: auth_service
  user: postgres
  password: kali
  port: 5432
  sslmode: disable
  max_idle_conns: 10
  max_open_conns: 100
  max_conn_lifetime: 0 #unlimited
  max_conn_idle_time: 8 #8 hours
jwt:
  expires: 12
  secret: secret
mail:
  host: smtp.example.server
  port: 587
  user: user
  password: password
  from: user@example.com
